@font-face {
    font-family: "Rubick";
    src: url('/device/fonts/rubick/static/Rubik-Bold.woff2') format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Rubick";
    src: url('/device/fonts/rubick/static/Rubik-Regular.woff2') format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('/device/fonts/raleway/static/Raleway-ExtraBold.woff2') format("woff2");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

/* Общие настройки */

*,
*::after,
*::before {
    box-sizing: border-box;
}

button, input {
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;
    scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 18px;
    min-height: 100%;
    line-height: 1.66;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    font-family: "Rubick", sans-serif;
    margin: 0;
    padding: 0;

}

:where(ul, ol):where([class]) {
    padding-left: 0;
}

body,
:where(figure, blockquote):where([class]) {
    margin: 0;
}

:where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(ul[class]) {
    list-style: none;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

:where(address[class]) {
    font-style: normal;
}

p {
    --paragraphMarginBottom: 24px;
  
    margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}

input,
textarea,
select,
button {
  font: inherit;
}

a:where([class]) {
    display: inline-flex;
}

button,
label {
  cursor: pointer;
}

svg * {
    transition-property: fill, stroke;
  }

/* Шапка сайта */

.header {
    width: 1440px;
    margin-inline: auto;
    padding-top: 40px;
    padding-inline: 140px;
    position: relative;
}

.header-container {
    padding: 43.4px 60px 134.6px;
    background-color: #ffe17f;
}

.header-form {
    display: flex;
    flex-shrink: 0;
    width: 517px;
    height: 40px;
    margin-right: 37px;
}

.header-input {
    flex-grow: 1;
    border: 2px solid #000;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    padding-left: 44px;  
    background-color: transparent;
    background-image: url("/device/img/main/svg/icons.svg");
    background-repeat: no-repeat;
    background-position: 15px 50%;
    letter-spacing: -1px;  
}

.header-input::placeholder {
    color:#000;
}

.search-button {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
    letter-spacing: -1px;  
}

.header--row--one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin-inline: -10px;
    gap: 10px 20px;
}

.user-item {
    min-width: 81px;
}

.user-item .user-link{
    padding-inline: 25px 10px;
}

.sign-in {
    background-image: url("/device/img/icon/header/avatar.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.compare-link {
    background-image: url("/device/img/icon/header/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.cart-link {
    background-image: url("/device/img/icon/header/basket.svg");
    background-repeat: no-repeat;
    background-position: -0 10px;
}

.user-list .user-item:first-child {
    margin-right: auto;
}

.user-item .user-link{
    display: block;
    padding-block: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Rubick", sans-serif;
    color: #000000;
}

.user-item:nth-child(3) {
    position: relative;
}

.counter-cart {
    font: inherit;
    position: absolute;
    left: -18px;
    font-size: 14px;
    top: 9px;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    border-radius: 50%;
    min-width: 21px;
    max-height: 21px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.categories-list {
    display: none;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-block: 0;
    justify-content: start;
    flex-wrap: wrap;
    margin-inline: -10px -15px;
    gap: 10px 27px;
}

.categories-list {
    position: relative;
}

.nav-button-list {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #000000;
    background-image: url("/device/img/main/png/plus.png");
    background-repeat: no-repeat;
    background-position: 50%;
    filter: opacity(0.2);
}

.navigation-list__item__link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color:#000;
    background-color: transparent;
    display: block;
    letter-spacing: 10%;
    padding: 10px
}

.categories-list:first-child {
    margin-right: 239px;
    display: block;
}

.navigation-list__item .categories-button {
    padding-inline: 10px 66px;
    cursor: pointer;
    display: block;
    padding-block: 10px;
}

/* main */

.main-index {
    flex-grow: 1;
}

.product-cards,
.benefits,
.column {
    padding: 0 140px 70px;
    width: 1440px;
    margin-inline: auto;
}

.newsletter {
    padding: 74px 140px 56px;
    width: 1440px;
}

.footer {
    padding: 62px 140px 61px;
    width: 1440px;
}

/* product-cards */

.counter-card {
    position: absolute;
    font-family: "Rubick", sans-serif;
    font-size: 180px;
    line-height: 0.17;
    color: #ffffff;
    z-index: -1;
    font-weight: 700;
    top:
}

.cards--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    grid-template-areas: "image information";
    margin-top: -150px;
    position: relative;
    z-index: 1;
}

.card-image {
    grid-area: image;
}

.cards--information {
    grid-area: information;
    display: grid;
    grid-template-columns: 220px 1fr;
    row-gap: 50px;
    grid-template-rows: 70px ;
    grid-template-areas: ". ."
                         "card-main-information card-main-information"
                         "card-link cards-list"
                         "details-list details-list";
}

.cards-main-information {
    grid-area: card-main-information;
}

.cards-main-information .section-title {
    margin-bottom: 29px;
}

.card-link {
    grid-area: card-link;
}

.cards-list {
    justify-content: end;
    display: flex;
    list-style-type: none;
    grid-area: cards-list;
    column-gap: 20px;
}

.card-slider-button {
    background-color: transparent;
    border: 2px solid #000000;
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
}

.is_current {
    background-color: #000000;
}

.details-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    grid-column: 1/-1;    
    grid-area: details-list;
}

.detail-num {
    font-family: "Rubick", sans-serif;
    font-size: 36px;
    line-height: 1.2;

}

/* Текст */

.section-title {
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0;
}

/* Icons */

.header-logo {
    position: absolute;
    left: 200px;
    top: 16.4px;
}

/* buttons */

.button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    color:#000000;
    text-transform: uppercase;
    letter-spacing: 10%;

    position: relative;
    justify-content: center;
    align-items: center;
}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%) scaleY(0.2); 

    width: 100%;
    height: 100%;
    background-color: #ffe17f;
}

