@font-face {
    font-family: "Rubick";
    src: url('/device/fonts/rubick/static/Rubik-Bold.woff2') format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Rubick";
    src: url('/device/fonts/rubick/static/Rubik-Regular.woff2') format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('/device/fonts/raleway/static/Raleway-ExtraBold.woff2') format("woff2");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

/* Общие настройки */

*,
*::after,
*::before {
    box-sizing: border-box;
}

button, input {
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;
    scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 18px;
    min-height: 100%;
    line-height: 1.66;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000000;
    font-family: "Rubick", sans-serif;
    margin: 0;
    padding: 0;

    min-width: 1440px;

}

:where(ul, ol):where([class]) {
    padding-left: 0;
}

body,
:where(figure, blockquote):where([class]) {
    margin: 0;
}

:where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(ul[class]) {
    list-style: none;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

:where(address[class]) {
    font-style: normal;
}

p {
    --paragraphMarginBottom: 24px;
  
    margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}

input,
textarea,
select,
button {
  font: inherit;
}

a:where([class]) {
    display: inline-flex;
}

button,
label {
  cursor: pointer;
}

svg * {
    transition-property: fill, stroke;
  }

/* Шапка сайта */

.header {
    width: 1440px;
    margin-inline: auto;
    padding-top: 40px;
    padding-inline: 140px;
    position: relative;
}

.header-container {
    padding: 43.4px 60px 134.6px;
    background-color: #ffe17f;
}

.header-form {
    display: flex;
    flex-shrink: 0;
    width: 517px;
    height: 40px;
    margin-right: 37px;
}

.header-input {
    flex-grow: 1;
    border: 2px solid #000000;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    padding-left: 44px;  
    background-color: transparent;
    background-image: url("/device/img/main/svg/icons.svg");
    background-repeat: no-repeat;
    background-position: 15px 50%;
    letter-spacing: -1px;  
}

.header-input::placeholder {
    color:#000;
}

.search-button {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
    letter-spacing: -1px;  
}

.header--row--one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin-inline: -10px;
    gap: 10px 30px;
}

.user-item {
    min-width: 81px;
}

.user-item .user-link{
    padding-inline: 25px 10px;
}

.sign-in {
    background-image: url("/device/img/icon/header/avatar.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.compare-link {
    background-image: url("/device/img/icon/header/compare.svg");
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

.cart-link {
    background-image: url("/device/img/icon/header/basket.svg");
    background-repeat: no-repeat;
    background-position: -5px 10px;
}

.user-list .user-item:first-child {
    margin-right: auto;
}

.user-item .user-link{
    display: block;
    padding-block: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Rubick", sans-serif;
    color: #000000;
}

.user-item:nth-child(3) {
    position: relative;
}

.counter-cart {
    font: inherit;
    position: absolute;
    left: -18px;
    font-size: 14px;
    top: 9px;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    border-radius: 50%;
    min-width: 21px;
    max-height: 21px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.categories-list {
    display: none;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-block: 0;
    justify-content: start;
    flex-wrap: wrap;
    margin-inline: -10px -15px;
    gap: 10px 26px;
}

.categories-list {
    position: relative;
}

.nav-button-list {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #000000;
    background-image: url("/device/img/main/png/plus.png");
    background-repeat: no-repeat;
    background-position: 50%;
    filter: opacity(0.2);
}

.navigation-list__item__link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color:#000;
    background-color: transparent;
    display: block;
    letter-spacing: 20%;
    padding: 10px
}

.categories-list:first-child {
    margin-right: 239px;
    display: block;
}

.navigation-list__item .categories-button {
    padding-inline: 10px 66px;
    cursor: pointer;
    display: block;
    padding-block: 10px;
}

/* main */

.main-index {
    flex-grow: 1;
}

.product-cards,
.benefits,
.column {
    padding: 0 140px 70px;
    width: 1440px;
    margin-inline: auto;
}

/* product-cards */

.counter-card {
    position: absolute;
    font-family: "Rubick", sans-serif;
    font-size: 180px;
    line-height: 0.17;
    color: #ffffff;
    z-index: -1;
    font-weight: 700;
    top: 85px;
    right: 50px;
}

.cards--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    grid-template-areas: "image information";
    margin-top: -150px;
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
}

.card-image {
    grid-area: image;
}

.cards--information {
    grid-area: information;
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 50px;
    row-gap: 55px;
    grid-template-rows: 70px max-content repeat(2, min-content);
    grid-template-areas: ". ."
                         "card-main-information card-main-information"
                         "card-link cards-list"
                         "details-list details-list";
}

.cards-main-information {
    grid-area: card-main-information;
}

.cards-main-information .section-title {
    margin-bottom: 29px;
}

.cards-main-information + .card-link {
    grid-area: card-link;
    display: flex;
}

.cards-item {
    display: flex;
    align-items: center;
}

.cards-list {
    justify-content: end;
    display: flex;
    list-style-type: none;
    grid-area: cards-list;
    column-gap: 20px;
  
}

.card-slider-button {
    background-color: transparent;
    border: 2px solid #000000;
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;

}

.is_current {
    background-color: #000000;
}

.details-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    grid-column: 1/-1;    
    grid-area: details-list;

}

.detail-num {
    font-family: "Rubick", sans-serif;
    font-size: 36px;
    line-height: 0.9;
    margin-bottom: 12px;
    display: block;

}

.product-detail {
    font-size: 16px;
    line-height: 1.88;
}

/* categories-list-main */

.categories-list-main {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px 40px;
    margin-bottom: 100px;
}

.categories-list-main__item {
    display: grid;
    row-gap: 33px;
    min-height: 253px;
    grid-template-rows: 160px 1fr;
}

.categories-icon {
    background-color: #ffe17f;
    width: 160px;
    height: 160px;
}

.categories-list-main__item:first-child .categories-icon {
    background-image: url("/device/img/main/png/categories/virtual.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.categories-list-main__item:nth-child(2) .categories-icon {
    background-image: url("/device/img/main/png/categories/selfi-branch.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.categories-list-main__item:nth-child(3) .categories-icon {
    background-image: url("/device/img/main/png/categories/camera.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.categories-list-main__item:nth-child(4) .categories-icon {
    background-image: url("/device/img/main/png/categories/fit-watch.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.categories-list-main__item:nth-child(5) .categories-icon {
    background-image: url("/device/img/main/png/categories/watch.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.categories-list-main__item:nth-child(6) .categories-icon {
    background-image: url("/device/img/main/png/categories/dron.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.category-title {
    font-family: "Raleway", sans-serif;
    line-height: 1.3;
    letter-spacing: -2%;
    font-weight: 800;
    font-size: 18px;
}

/* benefits from device */

.benefits {
    position: relative;
    display: grid;
    row-gap: 70px;
}

.benefis-container {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 50px 106px;
    padding-block: 50px;
    /* margin-top: -100px; */
}

.benefits--list {
    display: grid;
    position: relative;
    gap: 50px 35px;
}

.benefits--list::after {
    content: "";
    position: absolute;
    top: -65px;
    bottom: -65px;
    width: 7px;
    right: -7px;
    background-color: #000000;
}

.benefits--button {
    background-color: transparent;
    border: none;
    display: flex;
}

.benefits-description .section-title {
    margin-left: 10px;
    margin-bottom: 34px;

} 

.benefits-button {
    display: grid;
    grid-template-columns: 1fr 125px;
}

.benefits-main-icon {
    background-color: #ffe17f;
    background-image: url("/device/img/icon/main/benefit-one.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}

.benefit--link {
    display: grid;
    grid-template-columns: 125px 1fr;

    background-color: #f0f0f0;
    text-align: center;
    text-decoration: none;
}

.benefit--subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;

    padding-block: 40px;    
    line-height: 1;
    font-weight: 800;
    letter-spacing: 20%;
    display: block;
}

.benefit-container-btn {
    background-color: #f0f0f0;
    position: relative;
}

.benefit--info {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    border: none;
    background-color: #dcdcdc;
    translate: -50% -50%;
}

/* column */

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 96px;
    padding-top: 47px;
    margin-bottom: 10px;
}

.column .section-title {
    position: relative;
    margin-bottom: 18px;
}

.column .section-title::before {
    content: "";
    position: absolute;
    top: -47px;
    height: 7px;
    width: 84px;
    left: 0;
    background-color: #000000;
}

.column-container {
    display: grid;
    gap: 30px 50px;
    grid-template-rows: repeat(5, min-content);
}

.company-item {
    position: relative;
    padding-left: 37px;
    display: flex;
}

.companies-list {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    margin-bottom: 10px;
}

.company-item::before {
    content: ".";
    color: #ffc700;
    font-size: 60px;
    top: -55px;
    left: -2px;
    position: absolute;
}

.company-link {
    font: inherit;
    font-weight: 700;
    line-height: 1.11;
    color: #000000;
    text-decoration: none;
    letter-spacing: -2%;
}

.column-container .about-us--information {
    justify-self: start;
    padding-inline: 22px;
}

.column-container .contacts--communicate {
    justify-self: start;
    padding-inline: 32px;
}

.contacts--subtitle {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 15px;
}

.column-container p,
.contacts--phone {
    color: #444444;
}

.contacts-time-work {
    margin-bottom: 10px;
}

/* newsletter */

.newsletter {
    background-color: #dcdcdc;
}

.newsletter-container {
    padding: 74px 140px 56px;
    width: 1440px;
    display: grid;
    grid-template-columns: 354px 1fr;
    gap: 144px 252px;
    padding-top: 64px;
    align-items: end;
    margin-inline: auto;
}

.newsletter-container-inner {
    grid-column: 1/-1;

    display: flex;
    gap: 100px 188px;
    flex-wrap: wrap;
}

.newsletter--form {
    display: grid;
    min-width: 810px;
    grid-template-columns: 1fr 253px;
}

.email-field {
    padding: 11px 10px 14px 16px;
    color: #444444;
    box-shadow: inset 0 -3px 0px #c4c4c4;
    border: none;
    background-color: transparent;
}

.form-button {
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0 3px #c4c4c4;

    font-family: "Raleway", sans-serif;
    letter-spacing: 20%;
    text-transform: uppercase;
}

.newsletter .section-title {
    margin-left: 6px
}

.newsletter-benefit {
    padding-left: 32px;

    background-image: url("/device/img/main/svg/check-mark.svg");
    background-repeat: no-repeat;
    background-position: left 50%;

    align-self: center;
}

/* footer */

.footer {
    background-color: #444444;
    
}

.footer-container {
    padding: 133px 140px 60px;
    margin: 0 auto;
    width: 1440px;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.footer-container::before {
    content: "";
    position: absolute;
    background-image: url("/device/img/icon/footer/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    width: 145px;
    height: 36px;
    top: 62px;
}

.footer-container .contacts--address {
    max-width: 238px;
    margin-right: 19px;

    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
}

.footer-container-links {
    margin-left: -10px;
    margin-top: -10px;

    display: flex;
    flex-flow: column wrap;
    gap: 52px;    
}

.footer--navigation .navigation-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 484px;
    gap: 15px;
}

.navigation-list__item__link {
    color: #ffffff;
}

/* Текст */

.section-title {
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0;
}



/* Icons */

.header-logo {
    position: absolute;
    left: 200px;
    top: 16.4px;
}

/* buttons */

.button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    color:#000000;
    text-transform: uppercase;
    letter-spacing: 20%;

    position: relative;
    justify-content: center;
    
    z-index: 1;
    display: inline-flex;
}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%) scaleY(0.35); 

    width: 100%;
    height: 100%;
    background-color: #ffe17f;
}

